# Configuration file
# Control server information
CSAddress 10.0.0.138
CSPort 2001
# Server will listen to this port (default 2001)
listenPort 2001
Tag team5ftw
IPlogging
# Admins
$Username|Password
$Username|Password
$Username|Password
$Username|Password
$Username|Password
